<carousel>
  <slide>
    <img
      src="../../../assets/images/bg-1.jpg"
      alt="first slide"
      style="display: block; width: 100%;"
    />
    <div class="carousel-caption d-none d-md-block">
      <h3>Love</h3>
      <p>We bring people together. Love unites them...</p>
    </div>
  </slide>
  <slide>
    <img
      src="../../../assets/images/bg-2.jpg"
      alt="second slide"
      style="display: block; width: 100%;"
    />
    <div class="carousel-caption d-none d-md-block">
      <h3>Care</h3>
      <p>We bring people together. Love unites them...</p>
    </div>
  </slide>
  <slide>
    <img
      src="../../../assets/images/bg-3.jpg"
      alt="third slide"
      style="display: block; width: 100%;"
    />
    <div class="carousel-caption d-none d-md-block">
      <h3>Happiness</h3>
      <p>We bring people together. Love unites them...</p>
    </div>
  </slide>
</carousel>
